/* Whole document: */
body{
  font-family: Calibri, sans-serif;
  font-size: 11pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 9pt;
  font-weight:bold
}
.sourceCode {
  font-family: "Fira Code";
  font-size: 9pt;
}
pre {
  font-size: 9pt;
}
pre code {
  font-family: "Fira Code";
  font-size: 9pt;
}
